@{
    ViewData["Title"] = "Home Page";
}

<div class="buttons">
    <a class="button" asp-controller="Account" asp-action="Login">Вход</a>
    <a class="button" asp-controller="Account" asp-action="Register">Регистрация</a>
</div>
